<!-- views/partials/header.ejs -->
<header>
  <link rel="stylesheet" href="/css/header/header.css">
  <h2>Robot Car Console</h2>
  
  <nav>
    <a href="/">Home</a> | <a href="/about">About</a>
  </nav>
</header>
  