<link rel="stylesheet" href="/css/about/about.css">

<div class="container-fluid mt-0"></div>
    <div class="row no-gutters">
        <div class="col-md-12 bg-dark text-white p-5">
            <h2>About Us</h2>
            <p>Information about the website goes here.</p>
            <p>I am Nawfal</p>

            <img src="/images/about-us.jpg" alt="Robot Car" class="about-image">
        </div>
    </div>
</div>
