<link rel="stylesheet" href="/css/home/home.css">

<div class="container-fluid mt-0">
    <div class="row">
        <div class="col-md-12 bg-dark text-white p-0">
            <span class="p-2 text-success">3D Point Cloud Map</span>
            <div id="viewer" style="height: 65vh;"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 bg-secondary text-white p-3">
            <h3>Robot Control</h3>
            <p>This part will be taken by controllers.</p>
            <img src="/images/robot-icon.jpg" alt="Robot Car" class="rounded-image">
        </div>
        <div class="col-md-9 bg-dark text-white p-3">
            <div>
                <button type="button" class="btn btn-primary">Send Mission</button>
                <button type="button" class="btn btn-warning">Pause Mission</button>
                <button type="button" class="btn btn-secondary">Resume Mission</button>
                <button type="button" class="btn btn-danger">Stop Mission</button>
                <button type="button" class="btn btn-success">Success</button>
            </div>
        </div>
    </div>
</div>

<script src="/js/lib/eventemitter2.min.js"></script>
<script src="/js/lib/roslib.min.js"></script>
<script src="/js/lib/three.min.js"></script>
<script src="/js/lib/ros3d.min.js"></script>

<script src="/js/home/home.js"></script>

